asn1crypto==0.24.0
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==3.2
enum34==1.1.6
Flask==0.12.2
GF256==0.2.0
gunicorn==19.7.1
idna==2.6
inflect==0.2.5
ipaddress==1.0.19
itsdangerous==0.24
jaraco.itertools==2.2
Jinja2==2.11.3
MarkupSafe==1.0
more-itertools==4.1.0
ordereddict==1.1
pathlib==1.0.1
pipenv==11.9.0
pycparser==2.18
pyOpenSSL==17.5.0
requests==2.18.4
six==1.11.0
urllib3==1.26.5
virtualenv==15.1.0
virtualenv-clone==0.3.0
Werkzeug==0.15.3
wolframalpha==3.0.1
xmltodict==0.11.0
